body{
  background-color: #95c1f0;
}
.title{
  text-align: center;
  background-color: #fff;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .options label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .options input[type="number"],
  .options select {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  #generate-btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #03090f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #generate-btn:hover {
    background-color: #0caabe;
  }
  
  .output {
    text-align: left;
  }
  
  .output h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #quote-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #quote-list li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  